.chapter-text
  .chapter-text__all
    p
      | Для руководителей и предпринимателей, которые хотят стать новыми лидерами Евразии, бизнес-школы
      | HKUST и СКОЛКОВО запустили программу 
      a(href='https://embahs.skolkovo.ru/ru/emba-hs/')
        | EMBA for
        | Eurasia.
    p
      strong.chapter-text__bold-text Что ждет студентов?
      |  Первая в России программа
      |                 Executive MBA двойного диплома
      a(href='https://embahs.skolkovo.ru/ru/emba-hs/')  EMBA for Eurasia
      |  сфокусирована на трех
      |                 наиболее актуальных для бизнеса трендах: Евразии, инновациях и
      |                 Лидерстве.
    p
      strong.chapter-text__bold-text Как это работает?
      |  Обучение в ведущих бизнес-школах
      |                 семи стран мира, профессора с международным
      |                 опытом, нетворкинг и многое другое. Студентов ждет погружение в глобальное обучение, которое
      |                 расширит горизонты и откроет новые возможности.
// <button class="send-full-text-button header__button" type="button">Зарегистрироваться на презентацию</button>
a.registration-button(href='https://embahs.skolkovo.ru/ru/emba-hs/coming-events/1024/') Зарегистрироваться на презентацию
section.over-footer-block
  .over-footer-block__title Поделиться
  .social-block
    a#vkontakte.social-block__item(href='https://vk.com/share.php?url=#{socialLink}', target='_blank')
      .social-block__item-logo
        img(src='img/vk.svg', alt='')
      .social-block__item-logo-hover
        img(src='img/vk2.svg')
    a#facebook.social-block__item(href='https://www.facebook.com/sharer/sharer.php?u=#{socialLink}', target='_blank')
      .social-block__item-logo
        img(src='img/fb.svg', alt='')
      .social-block__item-logo-hover
        img(src='img/fb2.svg')
    a.social-block__item(href='whatsapp://send?text=#{socialLink}', target='_blank')
      .social-block__item-logo
        img(src='img/wu.svg', alt='')
      .social-block__item-logo-hover
        img(src='img/wu2.svg')
    a.social-block__item(href='tg://msg_url?url=#{socialLink}', target='_blank')
      .social-block__item-logo
        img(src='img/tl.svg', alt='')
      .social-block__item-logo-hover
        img(src='img/tl2.svg')
    a.social-block__item(href='mailto:?body=#{socialLink}&subject=%D0%9A%D0%B0%D0%BA%20%D0%9D%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%95%D0%B2%D1%80%D0%B0%D0%B7%D0%B8%D1%8F%20%D0%BD%D0%B0%D0%B2%D1%81%D0%B5%D0%B3%D0%B4%D0%B0%20%D0%B8%D0%B7%D0%BC%D0%B5%D0%BD%D0%B8%D0%BB%D0%B0%20%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D1%83%D1%8E%20%D1%8D%D0%BA%D0%BE%D0%BD%D0%BE%D0%BC%D0%B8%D0%BA%D1%83', target='_blank')
      .social-block__item-logo
        img(src='img/mail.svg', alt='')
      .social-block__item-logo-hover
        img(src='img/mail2.svg')
  .production-block
    .production-block__row
      | Текст: Татьяна Едовина, корреспондент отдела экономики газеты «Коммерсантъ»
    .production-block__row
      | Редакторы: Никита Ларионов, Ирина Щербакова, Егор Мостовщиков
    .production-block__row
      | Арт-директор: Ника Рогушина / Иллюстрации: Надежда Макеева
    .production-block__row
      | Продюсер: Александр Алексеев
    .production-block__row
      a(href='https://artel.media/', target='_blank')  Artel.media
